@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat;
        src: url(assets/fonts/Montserrat-Medium.woff) format('woff');
    }
}

/* :root{
    --very_small: 200;
} */

body {
    font-family: 'Montserrat', serif;
}

.navbar-fixed{
    @apply fixed z-[9999] bg-white bg-opacity-0 backdrop-blur-sm dark:bg-black dark:bg-opacity-50;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-[#000000] dark:bg-[#344D2F];
}

.hamburger-active > span:nth-child(1){
    @apply -rotate-45;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply rotate-45 ;
}
#hero>div {
    background-image:url(../dist/assets/img/bg.svg);
}

@keyframes blink{
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes arrowFadeIn {
    0% {background-color: white; color: black;}
    100% {background-color: #647E5D; color: white;}
}
@keyframes arrowFadeOut {
    0% {background-color: #647E5D; color: white;}
    100% {background-color: white; color: black;}
}

.arrow-fadein {
    @apply bg-dark-secondary text-white;
    animation: arrowFadeIn 0.3s ease-in-out;
}
.arrow-fadeout {
    @apply bg-white text-black;
    animation: arrowFadeOut 0.3s ease-in-out;
}

.carousel :where(.card, .image, .article_card) {
    @apply flex items-center justify-center;
}

.wrapper .arrow, .wrapper2 .arrow {
    @apply cursor-pointer absolute top-1/2;
    transform: translateY(-50%);
}

.wrapper .carousel {
    @apply grid grid-flow-col justify-start flex-col overflow-hidden scroll-smooth auto-cols-[calc(100%)] sm:auto-cols-[calc(100%/2)] lg:auto-cols-[calc(100%/3)];
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    @apply hidden
}
.carousel.dragging .card {
    @apply cursor-grab select-none
}
.carousel.dragging {
    @apply scroll-auto
}
.carousel.no-transition{
    @apply scroll-auto
}
.carousel .card {
    @apply list-none cursor-pointer /*snap-start*/
}
.highlight {
    opacity: 0.4;
}
.wrapper2 .article {
    @apply grid grid-flow-col justify-start flex-col overflow-hidden scroll-smooth auto-cols-[calc(100%)] sm:auto-cols-[calc(100%/2)] lg:auto-cols-[calc(100%/3)];
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.article .article_card {
    @apply list-none cursor-pointer;
}